{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>View Servicers</title>
{% endblock head %}

{% block content %}


    <div class="flex justify-between">
        <span class="text-2xl font-bold flex self-end">Servicers</span>
        <button id="add-servicer-modal" data-modal-target="add-modal" data-modal-toggle="add-modal" class="bg-blue-700 p-1 px-2 mb-1 text-base font-bold rounded text-white cursor-pointer">Add</button>
    </div>

    <!-- Add modal -->
    <div id="add-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Add Servicer
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="add-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div id="bodyNoEmployee" class="flex justify-center mt-2">
                    <span class="font-medium text-xl text-white">No Employees to add.</span>
                </div>
                <form method="post" action="{% url "purifier:create_servicer" %}" class="p-4 md:p-5">
                    {% csrf_token %}
                    <div id="bodyIfEmployee">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label id="serviceNameLabel" for="formServiceName" class="block mb-2 text-sm font-bold text-white">Name</label>
                                {{ servicer_form.name }}
                            </div>
                            <div id="servicerCode" class="col-span-2">
                                <label for="formServicerCode" class="block mb-2 text-sm font-bold text-white">Employee Code</label>
                                <input type="text" class="bg-white text-gray-900 text-sm rounded-lg border-none focus:ring-blue-500 block w-full p-2.5" id="employeeCode" Readonly/>
                            </div>
                            <div id="servicerMobile" class="col-span-2">
                                <label for="formServicerContact" class="block mb-2 text-sm font-bold text-white">Mobile</label>
                                <input type="text" class="bg-white text-gray-900 text-sm rounded-lg border-none focus:ring-blue-500 block w-full p-2.5" id="employeeContact" Readonly/>
                            </div>
                        </div>
                        <div id="confirmAddServicer" class="flex justify-center">
                            <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">
                                Add Servicer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!-- Delete confirm modal -->
    <div id="delete-modal" data-modal-backdrop="static" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 id="deleteServicerModalBody" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"></h3>
                    <button data-modal-hide="delete-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        <a href="" id="confirmServicerDelete">Yes, I'm sure</a>
                    </button>
                    <button data-modal-hide="delete-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="border dark:border-gray-800">

    <div class="mt-3">
        {% if servicers_exists %}

        <div class="flex justify-between mb-1">
            <div class="flex items-end">
                <span class="font-medium">No. of rows</span>
                <select id="showEntriesSelect" class="ms-1 px-2 py-1 w-18 h-8 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <input type="text" id="searchInput" placeholder="Search..." class="px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
        </div>


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table id="servicers_table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"></th>
                        <th scope="col" class="px-6 py-3">Employee Code</th>
                        <th scope="col" class="px-6 py-3">Servicer</th>
                        <th scope="col" class="px-6 py-3">Contact</th>
                        <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>

                <tbody class="bg-white">

                    {% for servicer in servicers %}

                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">{{ forloop.counter }}</th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ servicer.name.employee_code }}</th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-x-1">
                                {% if servicer.name.profile %}
                                    <img src="{{servicer.name.profile.url}}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                {% endif %}
                                {{ servicer.name.name }}
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ servicer.name.mobile }}</th>
                            <th scope="row">
                                <div class="flex justify-center">
                                    <!-- delete icon -->
                                    <div data-modal-target="delete-modal" data-modal-toggle="delete-modal" data-servicerId="{{servicer.id}}" data-servicerCode="{{servicer.name}}" class="servicer-delete-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 w-4 h-4 cursor-pointer">
                                            <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                        </svg>    
                                    </div>
                                </div>                                  
                            </th>
                        </tr>

                    {% endfor %}
                    
                </tbody>

            </table>
        </div>

        <div id="pagination" class="flex justify-center mt-6">
            <!-- Pagination buttons will be added dynamically here -->
        </div>

        
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="flex justify-center">
                <span class="font-bold text-xl">No servicers added. <button id="ifNoServicer" data-modal-target="add-modal" data-modal-toggle="add-modal" class="text-blue-700 cursor-pointer">Add</button> a new servicer.</span>
            </div>
        </div>
        {% endif %}
    </div>

</div>

<script src="{% static 'js/servicer/view_servicers.js' %}"></script>

{% endblock content %}