.home-header {
    margin-top: 82px;
}

.brand-logo-img {
    height: 72px;
}

.login-content {
    margin-top: 12px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 0px 15px 0px 15px;
    width: 350px;
}


/* login.html */
.login-text {
    font-size: 35px;
    font-weight: 700;
}

.password-container {
    position: relative;
    width: 100%;
}

#id_password {
    padding-right: 30px;
}

.toggle-password-icon {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateY(-50%);
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    background-image: url('eye-icon.png'); /* Replace 'eye-icon.png' with your icon */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


/* register.html */
.register-content {
    margin-top: 28px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 0px 15px 0px 15px;
    width: 600px;
}

.register-text {
    font-size: 35px;
    font-weight: 700;
}

.reg-password-container {
    position: relative;
    width: 100%;
}

#id_password1, #id_password2 {
    padding-right: 30px;
}

.toggle-password-icon1, .toggle-password-icon2 {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateY(-50%);
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    background-image: url('eye-icon.png'); /* Replace 'eye-icon.png' with your icon */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


/* password_reset_form.html */
.password-reset-content {
    margin-top: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 0px 15px 0px 15px;
    width: 350px;
}

.reset-password-text {
    font-size: 35px;
    font-weight: 700;
}

/* password_reset_confirm.html */
.password-new-content {
    margin-top: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 0px 15px 0px 15px;
    width: 600px;
}

.new-password-text {
    font-size: 35px;
    font-weight: 700;
}

.toggle-newpassword-icon1, .toggle-newpassword-icon2 {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateY(-50%);
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    background-image: url('eye-icon.png'); /* Replace 'eye-icon.png' with your icon */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


/* password_reset_done.html */
.password-reset-mail-content {
    margin-top: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 15px;
    width: 900px;
}


/* password_reset_complete.html */
.password-reset-success-content {
    margin-top: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 15px;
    width: 800px;
}