font url
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: #eeecec;
    overflow: hidden;
}

#navBar, #mainContent {
    display: none;
}

/* Main Navbar */
.mainnav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background: #ffffff;
    height: 50px;
    transition: ease-out 0.3s;
    z-index: 5;
}

.brand-area {
    width: 212px;
    text-align: center;
}

#notificationDropdownItems {
    width: 350px;
    max-height: 400px;
    overflow: auto;
    scrollbar-width: none;
    /* border: .5px solid black; */
}

#notificationDropdownItems .custom-item {
    border: 1px solid #ffffff;
    text-align: left;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 5px 1px 5px 1px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 8px;
}

#notificationDropdownItems .custom-item .dropdown-item:hover {
    background: none;
}

#notificationDropdownItems .custom-item .dropdown-item {
    height: auto;
    width: auto;
}


#navBar .user-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

#navBar #navBrand {
    height: 40px;
    width: auto;
}

#pageBodyView.view-modify #hideSideNavBtn {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out; 
}

#smallScreenMenu {
    display: none;
}


/* Side Navbar */
#sideNav {
    position: fixed;
    background: #0c768a;
    margin-top: 50px;
    height: 100%;
    width: 220px;
    transition: ease-out 0.3s;
    z-index: 4;
}

#pageBodyView.view-modify #sideNav {
    width: 52px;
    transition: ease-in 0.3s;
}

.sidenav_content {
    position: relative;
    width: 100%;
    padding: 8px;
}

.sidenav_content #hideSideNavBtn {
    position: absolute;
    left: 204px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c768a;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    padding: 7px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    transition: left ease-in 0.3s;
}

#pageBodyView.view-modify .sidenav_content #hideSideNavBtn {
    left: 35px;
    transition: left ease-out 0.3s;
}

.sidenav-items {
    overflow:auto;
    scrollbar-width: thin;
    margin-top: 24px;
}

.sidenav-items a{
    text-decoration: none;
}

.content_link {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.content_link:hover {
    cursor: pointer;
    border-radius: 8px;
    background: #ffffff;
    color: #0c768a;
    text-align: center;
}

#pageBodyView.view-modify .content_link {
    display: flex;
    justify-content: center;
}

.content_link .icon_container {
    position: relative;
    text-align: center;
    width: 32px;
    transition: margin ease-out 0.3s;
}

.content_link:hover .icon_container {
    margin-left: 10px;
    transition: margin ease-in 0.3s;
}

#pageBodyView.view-modify .content_link .icon_container {
    width: auto;
    text-align: center;
    transition: text-align ease-in 0.8s;
}

#pageBodyView.view-modify .content_link:hover .icon_container {
    margin-left: 0;
}

.content_link .text_container {
    margin-left: 8px;
}

.content_link:hover .text_container {
    text-wrap: nowrap;
}

#pageBodyView.view-modify #sideNav .sidenav_content .content_link .text_container {
    display: none !important;
}

#pageBodyView.view-modify #sideNav .sidenav_content .content_link:hover .text_container {
    position: absolute;
    display: block !important;
    background-color: #000;
    left: 38px;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
}


/* Main Content */
.main_content {
    position: absolute;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 56px;
    margin-left: 220px;
    height: calc(100% - 60px);
    width: calc(100% - 220px);
    transition: ease-out 0.3s;
    overflow: auto;
    scrollbar-width: none;
}


#pageBodyView.view-modify .main_content {
    margin-left: 52px;
    width: 100%;
    transition: ease-in 0.3s;
    width: calc(100% - 52px);
}

/* scroll to top */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 6;
  }
  
#scrollToTopBtn.show {
display: block;
}

/* hide sidenav icon */
#hideSideNavBtn {
    font-size: 24px;
}



@media (max-width: 768px) {
    #sideNav {
        display: none;
    }

    .mainnav {
        display: flex;
    }

    .brand-area {
        width: auto;
        margin-left: 8px;
    }

    #navBar #navBrand {
        height: 24px;
        width: auto;
    }
    
    .navbar_profile .profile_img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .navbar_profile .profile_img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    #smallScreenMenu {
        display: block;
    }

    #smallScreenMenu #menuDropdownMenuLink {
        font-size: 24px;
    }

    #navBar .user-name {
        text-transform: lowercase;
        font-size: 12px;
        font-weight: 500;
    }

    #mainContent {
        margin-top: 50px;
        margin-left: 0px;
        padding: 8px;
        width: 100%;
        width: calc(100% - 0);
    }

}