{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Create Product</title>
{% endblock head %}

{% block content %}

    <div>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="flex justify-between items-center">
                    <a href="{% url "purifier:view_products" %}" class="text-2xl font-bold rounded text-black"><i class="fa-solid fa-circle-left"></i></a>
                    <input type="submit" id="submit" class="bg-blue-700 p-1 px-2 mb-1 text-base font-bold rounded text-white" value="Save"/>
            </div>

            <hr class="border dark:border-gray-800">

            <div class="flex justify-center mt-3">

                <img id="image-preview-product" src="" alt="Image Preview" class="object-fill h-48 w-48 border border-gray-400 rounded-lg" style="display: none;">

                <img src="{% static 'images/empty_img.jpg' %}" id="productDefaultImgae" alt="Image not loading..." class="object-fill h-48 w-48 border border-gray-400 rounded-lg">  
                    
                <label for="formProductImage" class="block text-sm font-bold text-black ms-2">
                    <i class="fa-solid fa-pen-to-square"></i>
                </label>
                {{ product_form.image }}

            </div>

            <div class="grid gap-6 mb-6 md:grid-cols-2 mt-3">
                <div>
                    <label for="formProductSerial" class="block mb-2 text-sm font-bold text-black">Product Serial</label>
                    {{ product_form.product_serial }}
                </div>
                <div>
                    <label for="formProductName" class="block mb-2 text-sm font-bold text-black">Product Name</label>
                    {{ product_form.name }}
                </div>
                <div>
                    <label for="formProductCategory" class="block mb-2 text-sm font-bold text-black">Category</label>
                    {{ product_form.category }}
                </div>  
                <div>
                    <label for="formProductServices" class="block mb-2 text-sm font-bold text-black">Services</label>
                    <div class="overflow-y-auto h-28">
                        {{ product_form.services }}
                    </div>
                </div>
            </div>
        </form>
    </div>

<script src="{% static 'js/product/product.js' %}"></script>

{% endblock content %}
