{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Create Customer</title>
{% endblock head %}

{% block content %}

    <div>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="flex justify-between items-center">
                {% if customer %}
                    <a href="{% url "purifier:each_customer" customer.id %}" class="text-2xl font-bold rounded text-black"><i class="fa-solid fa-circle-left"></i></a>
                {% else %}
                    <a href="{% url "purifier:view_customers" %}" class="text-2xl font-bold rounded text-black"><i class="fa-solid fa-circle-left"></i></a>
                {% endif %}
                    <input type="submit" id="submit" class="bg-blue-700 p-1 px-2 mb-1 text-base font-bold rounded text-white" value="Save"/>
            </div>

            <hr class="border dark:border-gray-800">

            <div class="flex justify-center mt-3">

                <img id="image-preview" src="" alt="Image Preview" class="h-48 w-48 border border-gray-400 rounded-full" style="display: none;">

                {% if customer.profile %}
                    <img src="{{ customer.profile.url }}" alt="Profile not loading..." class="default-image h-48 w-48 border border-gray-400 rounded-full">
                {% else %}
                    <img src="{% static 'images/default.png' %}" id="customerDefaultProfile" alt="Image not loading..." class="default-image h-48 w-48 border border-gray-400 rounded-full">  
                {% endif %}
                    
                <label for="formCustomerProfile" class="block text-sm font-bold text-black">
                    <i class="fa-solid fa-pen-to-square"></i>
                </label>
                {{ customer_form.profile }}

            </div>

            <div class="grid gap-6 mb-6 md:grid-cols-2 mt-3">
                <div>
                    <label for="formCustomerName" class="block mb-2 text-sm font-bold text-black">Name</label>
                    {{ customer_form.name }}
                </div>
                <div>
                    <label for="formCustomerEmail" class="block mb-2 text-sm font-bold text-black">Email</label>
                    {{ customer_form.email }}
                </div>
                <div>
                    <label for="formCustomerMobile" class="block mb-2 text-sm font-bold text-black">Mobile</label>
                    {{ customer_form.mobile }}
                </div>  
                <div>
                    <label for="formCustomerWhatsappNumber" class="block mb-2 text-sm font-bold text-black">Whatsapp</label>
                    {{ customer_form.whatsapp_number }}
                </div>
                <div>
                    <label for="formCustomerAddress" class="block mb-2 text-sm font-bold text-black">Address</label>
                    {{ customer_form.address }}
                </div>
                <div>
                    <label for="formCustomerInstalledProduct" class="block mb-2 text-sm font-bold text-black">Installed Products</label>
                    {{ customer_form.installed_product }}
                </div>
            </div>
        </form>
    </div>

<script src="{% static 'js/customer/customer.js' %}"></script>

{% endblock content %}
