{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Tests</title>
{% endblock head %}

{% block content %}

    <div>

        <form method="post" action="">
            {% csrf_token %}

            <div class="d-flex justify-content-between">
                <a href="{% url "purifier:view_tests" %}" class="btn btn-sm btn-secondary">&lt;Back</a>
                <input type="submit" id="submit" class="btn btn-sm btn-primary" value="Save" />
            </div>

            <hr class="mt-1">

            <div class="d-grid">

                <div class="row d-lg-flex justify-content-lg-between d-grid justify-content-center">

                    <div class="col-lg-6 col-12">
                        <label for="formTestName" class="form-label mt-3">Test Name</label>
                        {{ test_form.test_name }}
                    </div>

                    <div class="col-lg-6 col-12">
                        <label for="formTestCustomerCode" class="form-label mt-3">Customer</label>
                        {{ test_form.customer_code }}
                    </div>

                </div>

                <div class="row d-lg-flex justify-content-lg-between d-grid justify-content-center">

                    <div class="col-lg-6 col-12">
                        <label for="formTestPhValue" class="form-label mt-3">PH</label>
                        {{ test_form.ph_value }}
                    </div>

                    <div class="col-lg-6 col-12">
                        <label for="formTdsValue" class="form-label mt-3">TDS</label>
                        {{ test_form.tds_value }}
                    </div>

                </div>

                <div class="row d-lg-flex justify-content-lg-between d-grid justify-content-center">

                    <div class="col-lg-6 col-12">
                        <label for="formIronValue" class="form-label mt-3">Iron</label>
                        {{ test_form.iron_value }}
                    </div>

                    <div class="col-lg-6 col-12">
                        <label for="formHardnessValue" class="form-label mt-3">Hardness</label>
                        {{ test_form.hardness_value }}
                    </div>

                </div>

                <div class="row d-lg-flex justify-content-lg-between d-grid justify-content-center">

                    <div class="col-lg-6 col-12">
                        <label for="formTubuetValue" class="form-label mt-3">Turbuet</label>
                        {{ test_form.turbuet_value }}
                    </div>

                </div>

            </div>

        </form>
    </div>

{% endblock content %}
