{% extends "home.html" %}

{% block content %}

    <form method="post">
    {% csrf_token %}

        <div class="p-3 pb-4 password-reset-content">
            <span class="reset-password-text d-flex justify-content-center">Reset Password</span>
            <div class="mt-4">
                <label for="id_email" class="form-label">Enter a valid email</label>
                <input type="email" name="email" class="form-control" id="id_email" placeholder="yourmail@example.com">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-100 mt-3">Reset</button>
            </div>
            <div class="d-flex justify-content-center mt-3 text-center">
                <span><a href="/auth/login/">Back to Login</a></span>
            </div>
        </div>

    </form>

{% endblock content %}

