#viewsDiv .form-label {
    font-weight: 500;
}

#viewSelect {
    width: 100px;
}

/* card */
.product-custom-card {
    background: #ffffff;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-bottom: 16px;
}

.product-custom-card-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 188px;
}

.product-custom-card-body {
    width: 100%;
    padding: 12px;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
}

.product-custom-card-body .product-custom-card-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.product-custom-card-body .product-custom-card-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.product-custom-card-body .product-custom-card-text span {
    font-size: 16px;
    font-weight: 500;
}