{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>View Assigns</title>
{% endblock head %}

{% block content %}

    <div class="flex justify-start">
        <span class="text-2xl font-bold flex self-end">Assign Works</span>
    </div>

    <!-- Assign modal -->
    <div id="assign-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Assign Work
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="assign-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form id="workAssignForm" method="post" action="" class="p-4 md:p-5">
                    {% csrf_token %}
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="formAssignServicer" class="block mb-2 text-sm font-bold text-white">Servicer</label>
                            {{ servicework_assign_form.servicer }}
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">
                            Assign
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <!-- Unassign modal -->
    <div id="unassign-modal" data-modal-backdrop="static" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 id="unAssignModalBody" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"></h3>
                    <a href="" id="confirmUnAssign"><button data-modal-hide="unassign-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center cursor-pointer">
                        Yes, I'm sure
                    </button></a>
                    <button data-modal-hide="unassign-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="border dark:border-gray-800">

    <div class="mt-3">
        {% if serviceworks_toassign_exists %}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table id="services_table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"></th>
                        <th scope="col" class="px-6 py-3">Service Work</th>
                        <th scope="col" class="px-6 py-3">Servicer</th>
                        <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for servicework_toassign in serviceworks_toassign %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">{{ forloop.counter }}</th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ servicework_toassign.service }}</th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white items-center">
                                {% if servicework_toassign.servicer %}
                                    <div class="flex items-center gap-x-1">
                                        {% if servicework_toassign.servicer.profile %}
                                        <img src="{{servicework_toassign.servicer.profile.url}}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                        {% else %}
                                        <img src="{% static 'images/default.png' %}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                        {% endif %}
                                        {{ servicework_toassign.servicer }}
                                    </div>
                                {% else %}
                                    <span>None</span>
                                {% endif %}
                            </th>

                            {% if servicework_toassign.servicer %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                <button id="confirmWorkUnAssign" data-modal-target="unassign-modal" data-modal-toggle="unassign-modal" data-serviceworkId="{{servicework_toassign.id}}" data-servicework="{{servicework_toassign.service}}" data-servicer="{{servicework_toassign.servicer}}" class="bg-red-700 p-1 px-2 mb-1 text-base font-bold rounded text-white">UnAssign</button>
                            </th>
                            {% else %}
                                {% if servicers_exists %}
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                        <button id="assignWorkBtn" data-modal-target="assign-modal" data-modal-toggle="assign-modal" data-servicework="{{servicework_toassign.id}}" class="bg-blue-700 p-1 px-2 mb-1 text-base font-bold rounded text-white">Assign</button>
                                    </th>
                                {% else %}
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                        <span class="font-medium text-base">No servicers to assign</span>
                                    </th>
                                {% endif %}
                            {% endif %}
                        </tr>

                    {% endfor %}
                </tbody>

            </table>

            
        </div>
        {% else %}
        <div class="flex justify-center">
            <span class="font-bold text-xl">No service works to assign.</span>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'js/service_assigning/view_assigning.js' %}"></script>

{% endblock content %}