.custom-card {
    background: #ffffff;
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-bottom: 12px;
}

.custom-card-img {
    width: 100px;
}

.custom-card-body {
    width: 100%;
    padding: 12px;
    align-self: center;
    white-space: nowrap;
    overflow:hidden;
    
}

.custom-card-body .custom-card-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-card-body .custom-card-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}