{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
    {% comment %} <link href="{% static 'css/dashboard/dashboard.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

{% endblock head %}

{% block content %}

    <div class="flex justify-start">
        <span class="text-2xl font-bold">Dashboard</span>
    </div>

    <hr class="border dark:border-gray-800">

    <div class="grid gap-4 mt-3">

        <div id="dashboardCounts" class="grid lg:grid-cols-6 md:grid-cols-3 gap-4">

            <div class="flex flex-col bg-white rounded-lg items-center p-6 customers-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ customers_count }}"><i class="fa-solid fa-user-group me-1"></i>{{customers_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Customers</span>
            </div>
    
            <div class="flex flex-col bg-white rounded-lg items-center p-6 employees-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ employees_count }}"><i class="fa-solid fa-people-group me-1"></i>{{employees_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Employees</span>
            </div>
    
            <div class="flex flex-col bg-white rounded-lg items-center p-6 products-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ products_count }}"><i class="fa-solid fa-cart-shopping me-1"></i>{{products_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Products</span>
            </div>
    
            <div class="flex flex-col bg-white rounded-lg items-center p-6 today-servicework-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ today_servicework_count }}"><i class="fa-solid fa-calendar-day fa-beat-fade me-1"></i></i>{{servicework_today_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Today Works</span>
            </div>
    
            <div class="flex flex-col bg-white rounded-lg items-center p-6 upcoming-servicework-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ upcoming_count }}"><i class="fa-regular fa-circle-up me-1"></i>{{upcoming_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Upcoming Works</span>
            </div>
    
            <div class="flex flex-col bg-white rounded-lg items-center p-6 completed-servicework-count">
                <span class="report-count dark:text-gray-800 text-3xl font-bold"data-bs-value="{{ completed_count }}"><i class="fa-solid fa-square-check me-1"></i>{{completed_count}}</span>
                <span class="report-count-heading text-lg mt-1 font-bold">Completed Works</span>
            </div>
        
        </div>
        

        <div class="flex gap-4 h-96">

            <div id="dashboardGraph" class="bg-white basis-1/2 p-3 rounded-lg">
                <span class="summaryGraphHeader text-center">Total Summary</span>
                <div id="summaryGraph"></div>
            </div>

            <div class="report-upcoming bg-white basis-1/4 p-3 rounded-lg">
                {% if not servicework_upcoming_exists %}
                <div class="d-flex justify-content-between">
                    {% comment %} <label class="report-upcoming-label">Upcoming Services</label> {% endcomment %}
                </div>
                    <div class="table-responsive">
                        <table id="serviceNotDoneTable" class="table align-middle">
                        
                            <thead class="text-white align-middle">
                                <tr>
                                    <th>Upcoming Services</th>
                                    <th class="text-end"><input type="text" id="searchInputUpcoming" class="form-control form-control-sm" placeholder="Search..."></th>
                                </tr>
                            </thead>

                            <tbody class="bg-white">

                                {% for upcoming in servicework_upcoming %}

                                    <tr>
                                        <td colspan='2'><a href="" class="anchor_tag">{{ upcoming }}</a></td>
                                    </tr>

                                {% endfor %}
            
                            </tbody>

                        </table>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <span>No upcoming service works.</span>
                    </div>
                {% endif %}
            </div>

            <div class="bg-white report-today basis-1/4 p-3 rounded-lg">
                {% if servicework_today_exists %}
                <div class="d-flex justify-content-between">
                    {% comment %} <label class="report-completed-label">Completed Services</label> {% endcomment %}
                </div>
                    <div class="table-responsive">
                        <table id="serviceTodayTable" class="table align-middle">
                            <thead class="text-white align-middle">
                                <tr>
                                    <th>Today Services</th>
                                    <th class="text-end"><input type="text" id="searchInputToday" class="form-control form-control-sm" placeholder="Search..."></th>
                                </tr>
                            </thead>

                            <tbody class="bg-white">

                                {% for today_work in servicework_today %}

                                    <tr>
                                        <td colspan='2'><a href="" class="anchor_tag">{{ today_work }}</a></td>
                                    </tr>

                                {% endfor %}
            
                            </tbody>

                        </table>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <span>No service works for today.</span>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    
    {% comment %} SCRIPT {% endcomment %}
    <script>
        

        document.addEventListener('DOMContentLoaded', function () {
            var options = {
                series: [{{pending_count}}, {{completed_count}}],
                labels: ['Pending', 'Completed'],
                chart: {
                    type: 'donut',
                    width: '100%',
                    height: '100%'
                },
                plotOptions: {
                    pie: {
                        donut: {
                            size: '50%'
                        }
                    }
                },
                legend: {
                    position: 'bottom' // Placing legend at the bottom
                },
            };
    
            var chart = new ApexCharts(document.querySelector("#summaryGraph"), options);
            chart.render();
        });

        $(document).ready(function() {

            $('#serviceNotDoneTable #searchInputUpcoming').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                var found = false;
                $('#serviceNotDoneTable tbody tr').each(function() {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1);
                    if (text.indexOf(value) > -1) {
                        found = true;
                    }
                });
                if (!found) {
                    $('#serviceNotDoneTable #noRecordsFound').remove();
                    $('#serviceNotDoneTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
                } else {
                    $('#serviceNotDoneTable #noRecordsFound').remove();
                }
            });

            $('#serviceNotDoneTable').DataTable();
            {% comment %} $('#serviceNotDoneTable').DataTable({
                "searching": true, // Enable searching
                "paging": false, // Disable pagination (optional)
                "info": false // Disable table information display (optional)
            }); {% endcomment %}

            $('#serviceTodayTable #searchInputToday').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                var found = false;
                $('#serviceTodayTable tbody tr').each(function() {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1);
                    if (text.indexOf(value) > -1) {
                        found = true;
                    }
                });
                if (!found) {
                    $('#serviceTodayTable #noRecordsFound').remove();
                    $('#serviceTodayTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
                } else {
                    $('#serviceTodayTable #noRecordsFound').remove();
                }
            });

            $('#serviceTodayTable').DataTable({
                "searching": true, // Enable searching
                "paging": false, // Disable pagination (optional)
                "info": false // Disable table information display (optional)
            });

        });
    </script>
    
    

{% endblock content %}