{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Reports</title>
    <link href="{% static 'css/dashboard/dashboard.css' %}" rel="stylesheet" type="text/css">

{% endblock head %}

{% block content %}

    <div class="d-flex justify-content-between">
        <span class="page_heading">Reports</span>
    </div>

    <hr class="mt-1">

    <div class="p-3 m-0">

        <div id="dashboardCounts" class="row d-flex justify-content-between gap-4">

            <div class="col d-grid customers-count">
                <span class="report-count" data-bs-value="{{ customers_count }}"><i class="fa-solid fa-user-group"></i>{{customers_count}}</span>
                <span class="report-count-heading">Customers</span>
            </div>
    
            <div class="col d-grid employees-count">
                <span class="report-count" data-bs-value="{{ employees_count }}"><i class="fa-solid fa-people-group"></i>{{employees_count}}</span>
                <span class="report-count-heading">Employees</span>
            </div>
    
            <div class="col d-grid products-count">
                <span class="report-count" data-bs-value="{{ products_count }}"><i class="fa-solid fa-cart-shopping"></i>{{products_count}}</span>
                <span class="report-count-heading">Products</span>
            </div>
    
            <div class="col d-grid today-servicework-count">
                <span class="report-count text-warning" data-bs-value="{{ today_servicework_count }}"><i class="fa-solid fa-calendar-day"></i>{{servicework_today_count}}</span>
                <span class="report-count-heading">Today Works</span>
            </div>
    
            <div class="col d-grid upcoming-servicework-count">
                <span class="report-count text-secondary" data-bs-value="{{ upcoming_count }}"><i class="fa-regular fa-circle-up"></i>{{upcoming_count}}</span>
                <span class="report-count-heading">Upcoming Works</span>
            </div>
    
            <div class="col d-grid completed-servicework-count">
                <span class="report-count text-success"data-bs-value="{{ completed_count }}"><i class="fa-solid fa-square-check"></i>{{completed_count}}</span>
                <span class="report-count-heading">Completed Works</span>
            </div>
        
        </div>
        

        <div class="row gap-3">

            <div id="dashboardGraph" class="col d-grid dashboard-graph mt-4">
                <span class="summaryGraphHeader text-center">Total Summary</span>
                <div id="summaryGraph"></div>
            </div>


            {% comment %} <div class="col gap-3 report-tables mt-4 d-md-flex"> {% endcomment %}

                <div class="report-upcoming col-12 col-lg mt-4">
                    {% if servicework_upcoming_exists %}
                    <div class="d-flex justify-content-between">
                        {% comment %} <label class="report-upcoming-label">Upcoming Services</label> {% endcomment %}
                    </div>
                        <div class="table-responsive">
                            <table id="serviceNotDoneTable" class="table align-middle">
                            
                                <thead class="text-white align-middle">
                                    <tr>
                                        <th>Upcoming Services</th>
                                        <th class="text-end"><input type="text" id="searchInputUpcoming" class="form-control form-control-sm" placeholder="Search..."></th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white">

                                    {% for upcoming in servicework_upcoming %}

                                        <tr>
                                            <td colspan='2'><a href="" class="anchor_tag">{{ upcoming }}</a></td>
                                        </tr>

                                    {% endfor %}
                
                                </tbody>

                            </table>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <span>No upcoming service works.</span>
                        </div>
                    {% endif %}
                </div>

                <div class="report-today col-12 col-md mt-4">
                    {% if servicework_today_exists %}
                    <div class="d-flex justify-content-between">
                        {% comment %} <label class="report-completed-label">Completed Services</label> {% endcomment %}
                    </div>
                        <div class="table-responsive">
                            <table id="serviceTodayTable" class="table align-middle">
                                <thead class="text-white align-middle">
                                    <tr>
                                        <th>Today Services</th>
                                        <th class="text-end"><input type="text" id="searchInputToday" class="form-control form-control-sm" placeholder="Search..."></th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white">

                                    {% for today_work in servicework_today %}

                                        <tr>
                                            <td colspan='2'><a href="" class="anchor_tag">{{ today_work }}</a></td>
                                        </tr>

                                    {% endfor %}
                
                                </tbody>

                            </table>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <span>No service works for today.</span>
                        </div>
                    {% endif %}
                </div>

            {% comment %} </div> {% endcomment %}
        </div>
    </div>

    
    {% comment %} SCRIPT {% endcomment %}
    <script>
        

            document.addEventListener('DOMContentLoaded', function () {
                var options = {
                    series: [{{pending_count}}, {{completed_count}}],
                    labels: ['Pending', 'Completed'],
                    chart: {
                        type: 'donut',
                        width: '100%',
                        height: '100%'
                    },
                    plotOptions: {
                        pie: {
                            donut: {
                                size: '50%'
                            }
                        }
                    },
                    legend: {
                        position: 'bottom' // Placing legend at the bottom
                    },
                };
        
                var chart = new ApexCharts(document.querySelector("#summaryGraph"), options);
                chart.render();
            });

        $(document).ready(function() {

            $('#serviceNotDoneTable #searchInputUpcoming').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                var found = false;
                $('#serviceNotDoneTable tbody tr').each(function() {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1);
                    if (text.indexOf(value) > -1) {
                        found = true;
                    }
                });
                if (!found) {
                    $('#serviceNotDoneTable #noRecordsFound').remove();
                    $('#serviceNotDoneTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
                } else {
                    $('#serviceNotDoneTable #noRecordsFound').remove();
                }
            });

            $('#serviceNotDoneTable').DataTable();
            {% comment %} $('#serviceNotDoneTable').DataTable({
                "searching": true, // Enable searching
                "paging": false, // Disable pagination (optional)
                "info": false // Disable table information display (optional)
            }); {% endcomment %}

            $('#serviceTodayTable #searchInputToday').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                var found = false;
                $('#serviceTodayTable tbody tr').each(function() {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1);
                    if (text.indexOf(value) > -1) {
                        found = true;
                    }
                });
                if (!found) {
                    $('#serviceTodayTable #noRecordsFound').remove();
                    $('#serviceTodayTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
                } else {
                    $('#serviceTodayTable #noRecordsFound').remove();
                }
            });

            $('#serviceTodayTable').DataTable({
                "searching": true, // Enable searching
                "paging": false, // Disable pagination (optional)
                "info": false // Disable table information display (optional)
            });

        });
    </script>
    
    

{% endblock content %}