{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
{% endblock head %}

{% block content %}

    <div class="flex justify-start">
        <span class="text-2xl font-bold">Dashboard</span>
    </div>

    <hr class="border dark:border-gray-800">

    <div class="grid gap-4 mt-3">

        {% comment %} <marquee behavior="scroll" direction="left" loop="infinite" scrollamount="50"> {% endcomment %}

            <div id="dashboardCounts" class="grid lg:grid-cols-6 md:grid-cols-3 gap-4">

                <div class="flex flex-col bg-white rounded-lg items-center p-6 customers-count">
                    <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ customers_count }}"><i class="fa-solid fa-user-group me-1"></i>{{customers_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Customers</span>
                </div>
        
                <div class="flex flex-col bg-white rounded-lg items-center p-6 employees-count">
                    <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ employees_count }}"><i class="fa-solid fa-people-group me-1"></i>{{employees_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Employees</span>
                </div>
        
                <div class="flex flex-col bg-white rounded-lg items-center p-6 products-count">
                    <span class="report-count dark:text-gray-800 text-3xl font-bold" data-bs-value="{{ products_count }}"><i class="fa-solid fa-cart-shopping me-1"></i>{{products_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Products</span>
                </div>
        
                <div class="flex flex-col bg-white rounded-lg items-center p-6 today-servicework-count">
                    <span class="report-count text-sky-600 text-3xl font-bold" data-bs-value="{{ today_servicework_count }}"><i class="fa-solid fa-calendar-day fa-beat-fade me-1"></i></i>{{servicework_today_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Today Works</span>
                </div>
        
                <div class="flex flex-col bg-white rounded-lg items-center p-6 upcoming-servicework-count">
                    <span class="report-count text-yellow-600 text-3xl font-bold" data-bs-value="{{ upcoming_count }}"><i class="fa-regular fa-circle-up me-1"></i>{{upcoming_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Upcoming Works</span>
                </div>
        
                <div class="flex flex-col bg-white rounded-lg items-center p-6 completed-servicework-count">
                    <span class="report-count text-green-600 text-3xl font-bold"data-bs-value="{{ completed_count }}"><i class="fa-solid fa-square-check me-1"></i>{{completed_count}}</span>
                    <span class="report-count-heading text-lg mt-1 font-bold">Completed Works</span>
                </div>
            
            </div>
        {% comment %} </marquee> {% endcomment %}
        

        <div class="grid grid-cols-3 gap-4 h-96">

            <div id="dashboardGraph" class="bg-white p-3 rounded-lg text-center" style="height: 440px;">
                <div class="py-6" id="donut-chart"></div>
            </div>

            <div class="report-upcoming bg-white p-3 rounded-lg overflow-auto scroll-smooth scroll-m-0" style="scrollbar-width: thin; height: 440px;">
                {% if servicework_upcoming_exists %}
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-center">
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        upcoming service Works
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upcoming in servicework_upcoming %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                            {{ forloop.counter }}
                                        </th>
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ upcoming }}
                                        </th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <span class="font-bold text-2xl">No upcoming service works.</span>
                    </div>
                {% endif %}
            </div>

            <div class="bg-white report-today p-3 rounded-lg overflow-auto scroll-smooth scroll-m-0" style="scrollbar-width: thin; height: 440px;">
                {% if servicework_today_exists %}
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-center">
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Today service Works
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for today_work in servicework_today %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                            {{ forloop.counter }}
                                        </th>
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ today_work }}
                                        </th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <span class="font-bold text-2xl">No service works for today.</span>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <script>
        
        const getChartOptions = () => {
            return {
            series: [{{pending_count}}, {{completed_count}}],
            colors: ["#1C64F2", "#16BDCA"],
            chart: {
                height: "100%",
                width: "100%",
                type: "donut",
            },
            stroke: {
                colors: ["transparent"],
                lineCap: "",
            },
            plotOptions: {
                pie: {
                donut: {
                    labels: {
                    show: true,
                    name: {
                        show: true,
                        fontFamily: "Inter, sans-serif",
                        offsetY: 20,
                    },
                    total: {
                        showAlways: true,
                        show: true,
                        label: "Works Completed",
                        fontFamily: "Inter, sans-serif",
                        formatter: function (w) {
                        {% comment %} const sum = w.globals.seriesTotals.reduce((a, b) => {
                            return a + b
                        }, 0) {% endcomment %}
                        const total = {{pending_count}} + {{completed_count}}
                        const answer = {{completed_count}}/total
                        const completed_percent = (answer * 100).toFixed(2);
                        return completed_percent + '%'
                        },
                    },
                    value: {
                        show: true,
                        fontFamily: "Inter, sans-serif",
                        offsetY: -20,
                        formatter: function (value) {
                        return value
                        },
                    },
                    },
                    size: "70%",
                },
                },
            },
            grid: {
                padding: {
                top: -2,
                },
            },
            labels: ["Pending", "Completed"],
            dataLabels: {
                enabled: false,
            },
            legend: {
                position: "bottom",
                fontFamily: "Inter, sans-serif",
            },
            yaxis: {
                labels: {
                formatter: function (value) {
                    return value
                },
                },
            },
            xaxis: {
                labels: {
                formatter: function (value) {
                    return value
                },
                },
                axisTicks: {
                show: false,
                },
                axisBorder: {
                show: false,
                },
            },
            }
        }
        
        if (document.getElementById("donut-chart") && typeof ApexCharts !== 'undefined') {
            const chart = new ApexCharts(document.getElementById("donut-chart"), getChartOptions());
            chart.render();    
        }
  
    </script>

    {% comment %} $(document).ready(function() {

        $('#serviceNotDoneTable #searchInputUpcoming').on('keyup', function() {
            var value = $(this).val().toLowerCase();
            var found = false;
            $('#serviceNotDoneTable tbody tr').each(function() {
                var text = $(this).text().toLowerCase();
                $(this).toggle(text.indexOf(value) > -1);
                if (text.indexOf(value) > -1) {
                    found = true;
                }
            });
            if (!found) {
                $('#serviceNotDoneTable #noRecordsFound').remove();
                $('#serviceNotDoneTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
            } else {
                $('#serviceNotDoneTable #noRecordsFound').remove();
            }
        });

        $('#serviceNotDoneTable').DataTable();
        $('#serviceNotDoneTable').DataTable({
            "searching": true, // Enable searching
            "paging": false, // Disable pagination (optional)
            "info": false // Disable table information display (optional)
        });

        $('#serviceTodayTable #searchInputToday').on('keyup', function() {
            var value = $(this).val().toLowerCase();
            var found = false;
            $('#serviceTodayTable tbody tr').each(function() {
                var text = $(this).text().toLowerCase();
                $(this).toggle(text.indexOf(value) > -1);
                if (text.indexOf(value) > -1) {
                    found = true;
                }
            });
            if (!found) {
                $('#serviceTodayTable #noRecordsFound').remove();
                $('#serviceTodayTable tbody').append('<tr id="noRecordsFound"><td colspan="2" class="text-center">No matching records found</td></tr>');
            } else {
                $('#serviceTodayTable #noRecordsFound').remove();
            }
        });

        $('#serviceTodayTable').DataTable({
            "searching": true, // Enable searching
            "paging": false, // Disable pagination (optional)
            "info": false // Disable table information display (optional)
        });

    }); {% endcomment %}
    
    

{% endblock content %}