{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>View ServiceWorks</title>
{% endblock head %}

{% block content %}

    <div class="flex justify-between">
        <span class="text-2xl font-bold flex self-end">Service Works</span>
        <a href="{% url "purifier:create_servicework" %}" class="bg-blue-700 p-1 px-2 mb-1 text-base font-bold rounded text-white">Create</a>
    </div>

    <hr class="border dark:border-gray-800">

    <div class="mt-3">
        {% if service_works_exists %}

        <div class="flex justify-between mb-1">
            <div class="flex items-end">
                <span class="font-medium">No. of rows</span>
                <select id="showEntriesSelect" class="ms-1 px-2 py-1 w-18 h-8 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <input type="text" id="searchInput" placeholder="Search..." class="px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table id="servicework_table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"></th>
                        <th scope="col" class="px-6 py-3">Service_code</th>
                        <th scope="col" class="px-6 py-3">Service Date</th>
                        <th scope="col" class="px-6 py-3">Customer</th>
                        <th scope="col" class="px-6 py-3">Product</th>
                        <th scope="col" class="px-6 py-3">Created_On</th>
                        <th scope="col" class="px-6 py-3 text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service_work in service_works %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">{{ forloop.counter }}</th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>{{ service_work.service_work_code }}</a>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>{{ service_work.service_date }}</a>
                            </th>
                            <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>
                                    {% if service_work.customer_code.profile %}
                                        <img src="{{service_work.customer_code.profile.url}}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                    {% else %}
                                        <img src="{% static 'images/default.png' %}" alt="Profile not loading..." class="h-7 w-7 rounded-full">
                                    {% endif %}
                                </a>
                                <a href='{% url "purifier:each_service_work" service_work.id %}' class="ms-1">{{ service_work.customer_code }}</a>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>{{ service_work.product }}</a>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>{{ service_work.created_on }}</a>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                <a href='{% url "purifier:each_service_work" service_work.id %}'>
                                {% if service_work.status == 'pending' %}
                                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ service_work.get_status_display }}</span>
                                {% elif service_work.status == 'working' %}
                                    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{{ service_work.get_status_display }}</span>
                                {% else %}
                                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ service_work.get_status_display }}</span>
                                {% endif %}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="pagination" class="flex justify-center mt-6">
            <!-- Pagination buttons will be added dynamically here -->
        </div>
        
        {% else %}
        <div class="flex justify-center">
            <span class="font-bold text-xl">No service works added. <a href="{% url "purifier:create_servicework" %}" class="text-blue-700">Create</a> a new service work.</span>
        </div>
        {% endif %}
    </div>

<script src="{% static 'js/servicework/view_serviceworks.js' %}"></script>

{% endblock content %}